ul {
  display: flex;
}

li {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: calc(18 / 16 * 1rem);
}

li:first-child {
  margin-left: 1.8rem;
}

li:last-child .dot {
  display: none;
}

li .dot {
  margin: 0 3px;
  color: #d1d5db;
  font-size: calc(22 / 16 * 1rem);
}

.smile__svg {
  color: #2dcb70;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.heart__svg {
  color: #ff6b6b;
  font-size: 1.5rem;
  margin-left: 1.8rem;
  margin-right: 0.3rem;
}
