ul {
  display: flex;
  padding-bottom: 10px;
}

li {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: calc(18 / 16 * 1rem);
}

li:last-child .dot {
  display: none;
}

li .dot {
  margin: 0 3px;
  color: #d1d5db;
  font-size: calc(22 / 16 * 1rem);
}

.smile__svg {
  color: #63c263;
  font-size: 1.4rem;
  margin-right: 0.3rem;
}

.heart__svg {
  color: #ff6b6b;
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.play__link {
  opacity: 0;
  padding-left: 50px;
  transition: all 0.3s ease;
  transform: translateX(-100px);
}

.play__link span {
  padding: 20px;
  display: flex;
  margin-left: 50px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.3s ease;
  background-color: transparent;
}

.play__link span:hover {
  background-color: rgba(255, 255, 255, 0.172);
}

.play__svg {
  color: white;
  font-size: 2.3rem;
}

@media screen and (min-width: 1500px) {
  .play__link {
    transform: translateX(-500px);
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .play__link {
    display: none;
  }
}

@media screen and (max-width: 748px) {
  .smile__svg {
    font-size: 1.2rem;
  }

  .heart__svg {
    font-size: 1.35rem;
  }

  li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 448px) {
  .smile__svg {
    font-size: 1rem;
  }

  .heart__svg {
    font-size: 1.15rem;
  }

  li {
    font-size: 0.9rem;
  }
}
