.active {
  background-color: black;
}

.not-active {
  background-color: transparent;
}

.link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:hover {
  color: #d1d5db;
}

.link.right {
  margin: 0 20px;
}

.search__link {
  display: flex;
  color: white;
}

.search__link .search__svg {
  font-size: 1.8rem;
}

.signin__link {
  color: white;
  font-weight: 600;
  margin-left: 20px;
  padding: 6px 20px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #f0324c;
}

@media screen and (max-width: 748px) {
  .link {
    display: none;
  }
  .signin__link {
    display: none;
  }

  .search__link .search__svg {
    font-size: 1.7rem;
  }
}
